.card {
  position: relative;

  padding: 1rem;

  box-shadow: var(--shadow-2);

  border-radius: 0.5rem;

  > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  &:hover > .footer {
    opacity: 0;
    pointer-events: none;
  }

  &:hover > .gradientLine {
    background-image: linear-gradient(
      to right,
      hsl(var(--color-primary-100) / 0.3) 0%,
      hsl(var(--color-primary-400)) 60%,
      hsl(var(--color-primary-400) / 0.3) 100%
    );
  }

  &:hover > h4 {
    color: hsl(var(--color-primary));
  }

  &:hover > .discountPercentage {
    opacity: 0;
  }

  &:hover > .actionButtons {
    opacity: 1;
    pointer-events: all;
  }

  .discountPercentage {
    position: absolute;
    top: 1rem;
    left: 0;
    margin-bottom: 0;
    opacity: 1;

    padding-inline: 6px;
    padding-block: 4px;

    font-size: var(--fz-300);
    font-weight: 300;
    line-height: 24px;

    color: hsl(var(--color-secondary));
    background-color: hsl(var(--color-secondary-100));
    border-start-end-radius: 0.5rem;
    border-end-end-radius: 0.5rem;

    transition: opacity 0.3s ease-in-out;
  }

  .thumbnail {
    display: flex;
    justify-content: center;
  }

  .gradientLine {
    width: 100%;
    height: 1px;
    background-image: linear-gradient(
      to right,
      hsla(0, 0%, 27%, 0.1) 0%,
      hsla(0, 0%, 6%, 0.7) 60%,
      hsla(0, 0%, 27%, 0.1) 100%
    );
    transition: background-image 0.3 ease-in-out;
  }

  h4 {
    font-size: var(--fz-300);
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    transition: color 0.3s ease-in-out;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 1;
    margin-bottom: 0;

    transition: opacity 0.3s ease-in-out;

    .price {
      display: flex;
      flex-direction: column;
      font-weight: 300;

      & > .discounted {
        font-weight: 400;
        text-decoration: line-through;
        color: hsl(var(--color-gray-70));
        font-size: var(--fz-200);
      }
    }

    .rate {
      display: flex;
      align-items: center;
      gap: 0.125rem;

      color: hsl(var(--color-primary-500));
      font-size: var(--fz-300);
    }
  }

  .actionButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: hsl(var(--color-primary));
    opacity: 0;
    pointer-events: none;

    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 1rem;

    transition: opacity 0.3s ease-in-out;

    .addToCart {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .likeButton {
      cursor: pointer;
    }
  }
}
