:root {
  --fz-75: 0.5rem;
  --fz-100: 0.75rem;
  --fz-200: 0.875rem;
  --fz-300: 1rem;
  --fz-400: 1.125rem;
  --fz-500: 1.25rem;
  --fz-600: 1.5rem;
  --fz-700: 2rem;
  --fz-800: 2.5rem;
  --fz-900: 2.75rem;
}
