.container {
  margin-block: 1.5rem;

  .breadcrumb {
    list-style: none;
    display: flex;
    gap: 0.5rem;

    color: hsl(var(--color-gray-70));

    .arrowIcon {
      transform: rotate(90deg);
    }

    .breadcrumbItem {
      display: flex;
      align-items: center;

      padding-block: 0.25rem;

      text-transform: capitalize;

      a {
        text-decoration: none;
        font-weight: 300;

        line-height: 24px;

        &:hover {
          color: hsl(var(--color-primary));
        }
      }

      &:not(:last-child)::after {
        width: 24px;
        height: 24px;
        content: url(/src/assets/icons/arrow-down.svg);
        transform: rotate(90deg);
        display: inline-block;
      }

      &:last-child {
        color: hsl(var(--color-primary));
        border-bottom: 1px solid hsl(var(--color-primary));
      }
    }
  }
}
