.filtersContainer {
  grid-column: 1 / span 4;

  .filter {
    padding: 1rem;

    h3 {
      font-size: var(--fz-500);
      font-weight: 500;
    }
  }

  .filterList > li:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.productsContainer {
  grid-column: 5 / -1;
}
